---
  # Front matter comment to ensure Jekyll properly reads file.
---

@import 'app';
@import 'variables';
@import 'footer';

// Visually hide any element (mostly text) accessibly.
.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: $lato;
  font-weight: $lato-regular;
  h1, h2, h3, h4, h5, h6 {
    font-family: $lato;
    font-weight: $lato-bold;
  }
  font-size: 14px;
  // --cell-height: 1fr;
  --cell-height: 5rem;
  // TODO set cell height to rem so all grids have the same cell height
}


$start-hour: 8;
$end-hour: 20;
$interval: 15;

$grid-rows: "[tracks] var(--cell-height)";

@for $h from $start-hour through $end-hour {
  @for $m from 0 through 45 {
    @if ($m % $interval == 0 and not ($h == $end-hour and $m > 0)) {
      $hour-str: if($h < 10, "0#{$h}", "#{$h}");
      $min-str: if($m == 0, "00", "#{$m}");
      $time-str: "#{$hour-str}#{$min-str}";
      $grid-rows: "#{$grid-rows} [time-#{$time-str}] var(--cell-height)";
    }
  }
}

header{
  &.site-header{
    padding-block: 4rem 3rem;
    .site-title{
      font-weight: $lato-bold;
      font-size: 1.2857142857rem;
    }
    nav{
      font-size: 1rem;
      a{
        transition: $sprint;
        border-radius: 10px;
        &.page-link{
          padding: 0.5rem 1rem;
        }
        &:hover{
          background-color: #EEEEEE;
        }
      }
    }
  }
}

.calendar {
  .calendar-scroll {
    display: flex;
    height: 100%;
    overflow-x: scroll;
  }

  .time-column {
    position: sticky;
    left: 0;
    background: white;
    border-right: 1px solid #ccc;
    flex-shrink: 0;
    z-index: 2;
    grid-template-rows: #{$grid-rows};
    display: grid;
    .time-slot{
      font-weight: $lato-bold;
      color: inherit;
      span{
        font-weight: $lato-regular;
        color: #747474;
        font-size: 0.75rem;
      }
    }
  }

  .time-slot {
    height: 3rem;
    line-height: 3rem;
    padding-inline: 8px;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    color: #555;
    text-align: right;
  }

  .tracks-container {
    display: flex;
    position: relative;
    // background: #f8f8f8;
    flex-grow: 1;
    //scroll-snap-type: x proximity; //TODO figure out how to make this one work
  }

  .track {
    position: relative;
    // min-width: 180px;
    width: 20rem;
    padding-inline: 0.5em;
    border-right: 1px solid #ddd;
    display: grid;
    scroll-snap-align: start;
    grid-template-columns: 1fr; /* One column */
    // grid-auto-rows: 1fr;        /* Each row gets equal height */
    height: 100%;
    gap: 0.25rem;
    grid-template-rows: #{$grid-rows};
    // on mobile make a track 80% of screen with for future tracks peak out from the edge and also have it snap scroll horizontally
    h3{
      font-size: 1.25rem;
      margin-bottom: 0;
      
      // TODO figure out how to make this sticky; seems to be an issue with the x overflow scroll thing
      //Also dont want to pull the headers out of the tracks otherwise the horiztonal inline scroll will be lost
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }
  .event-link{
    color: inherit;
    &:hover{
      text-decoration: none;
      .event{
        background: #dddddd;
      }
    }
  }
  .event {
    background: #EAEAEA;
    border-radius: 10px;
    padding: 0.7142857143rem; /* 10px */
    transition: $sprint;
    h4{
      font-size: 1.1428571429rem; /* 16px */
    }
    p{
      margin: 0;
    }
    .time{
      color: rgba($pure-black, 0.6);
    }
    .description{
      margin-block: 0.25rem;
    }
    .contributors{
      color: rgba($pure-black, 0.6);
    }
    .presentation{
      background-color: rgba($pure-black, 0.1);
      padding: 0.3571428571rem;
      border-radius: 5px;
      h5{
        font-size: 1rem;
        font-weight: $lato-regular;
        margin-block-end: 0.25rem;
      }
      &:not(:last-of-type){
        margin-block-end: 0.3571428571rem;
      }
    }
  }

}

a{
  &.add-button{
    border-radius: 10px;
    background-color: $brand-teal;
    padding: 0.75rem 1rem;
    color: $pure-white;
    text-align: center;
    transition: $sprint;
  }
  &:hover{
    text-decoration: none;
    &.add-button{
      color: $pure-white;
      background-color: $brand-teal-dark;
    }
  }
}

article{
  .event-type{
    display: inline-block;
    background-color: rgba(#167BAA, 0.25);
    padding-inline: 0.7142857143rem;
    padding-block: 0.1428571429rem;
    border-radius: $pill-radius;
    text-transform: capitalize;
  }
  .post-header{
    margin: 0;
    margin-block-end: 3rem;
  }
  .button-wrapper{
    a{
      aspect-ratio: 1/1;
      display: flex;
      .icon-wrapper{
        transition: $sprint;
        aspect-ratio: 1/1;
        border: solid 2px $brand-teal;
        display: flex;
        border-radius: 10px;
        height: 3rem;
        svg{
          width: 2rem;
          path{
            transition: $sprint; 
          }
        }
      }
      &:hover{
        .icon-wrapper{
          background-color: $brand-teal;
          svg{
            path{
              fill: $pure-white;
            }
          }
        }
      }
    }
  }
  h1{
    &.event-title{
      font-size: 2.2857142857rem;
      margin-bottom: 0;
    }
  }
  .event-meta{
    color: rgba($pure-black, 0.6);
    .divider-dot{
      margin-inline: 1rem 0.4rem;
    }
    .icon-wrapper{
      aspect-ratio: 1/1;
      svg{
        width: 1.5rem;
      }
    }
    .session-chair{
      .divider{
        height: 2px;
        width: 5rem;
        background-color: rgba($pure-black, 0.25);
        border-radius: $pill-radius;
        margin-block: 1rem;
      }
      .chair{
        a{
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
  section{
    &.presentation-section{
      &:not(:last-of-type){
        margin-block-end: 8rem;
      }
      .image-content{
        flex-direction: column;
        .add-button{
          margin-block-start: 0.5rem;
        }
        & ~ .text-content{
          padding-inline-start: 1.5rem;
        }
      }
      .main-thumbnail{
        border-radius: 10px;
      }
      h2{
        font-size: 1.5714285714rem;
        text-wrap: pretty;
      }
      .time{
        color: rgba($pure-black, 0.6);
        .icon-wrapper{
          margin-inline-start: -0.4rem;
          display: flex;
        }
      }
      .contributors-container{
        a{
          color: inherit;
          box-shadow: inset 0 0 0 1px rgba($pure-black, 0.1);
          // TODO do we need this???
          &:hover{
            text-decoration: none;
            &.contributor-card{
              background-color: #EEEEEE;
            }
          }
          &.contributor-card{
            border-radius: 10px;
            transition: $sprint;
            padding: 0.5rem 1rem;
            &:has(.profile-wrapper){
              padding: 0.5rem 1rem 0.5rem 0.5rem;
              .profile-wrapper{
                margin-inline-end: 0.5rem;
              }
            }
            p{
              margin: 0;
            }
            .name{
              font-size: 1.2857142857rem;
              font-weight: $lato-bold;
            }
            .profile-wrapper{
              position: relative;
              border-radius: 5px;
              &::before {
                content: "";
                position: absolute;
                inset: 0;
                box-shadow: inset 0 0 0 1px rgba($pure-black, 0.1);
                pointer-events: none; /* lets clicks pass through if needed */
                z-index: 2; /* ensure it’s above the image */
                border-radius: 5px;
              }
              img{
                width: 3.5rem;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .similar-container{
        margin-block-start: 2rem;
        h3{
          font-size: 1.2857142857rem;
        }
        a{
          box-shadow: inset 0 0 0 1px rgba($pure-black, 0.1);
          // TODO do we need this???
          &:hover{
            text-decoration: none;
            &.similar-card{
              background-color: #EEEEEE;;
            }
          }
          &.similar-card{
            color: inherit;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            transition: $sprint;
            &:has(.image-wrapper){
              padding: 0.5rem 1rem 0.5rem 0.5rem;
            }
            img{
              width: 4rem;
              border-radius: 5px;
            }
            .image-wrapper{
              margin-inline-end: 0.5rem;
            }
          }
        }
      }
    }
  }
}

details{
  &.person-card{
  transition: $sprint;
  padding: 0.5rem;
  border-radius: 18px;
    &:hover{
      cursor: pointer;
      background-color: #EEEEEE;
    }
    summary{
      list-style: none; /* removes default chevron in Firefox */
      .text-content{
        padding-inline-start: 1rem;
        h2{
          margin-bottom: 0;
          font-size: 3rem;
          line-height: 1;
        }
        p{
          margin-bottom: 0;
          font-size: 1.25rem;
          margin-inline-end: 0.5rem;
        }
        .icon-wrapper{
          transition: $sprint;
          aspect-ratio: 1/1;
          display: flex;
          height: 3rem;
          svg{
            width: 5rem;
            path{
              transition: $sprint; 
            }
          }
        }
      }
      &::-webkit-details-marker {
        display: none; /* removes default chevron in WebKit browsers */
      }
    }
    .profile-wrapper{
      position: relative;
      border-radius: 10px;
      width: 6rem;
      aspect-ratio: 1/1;
      &:has(img) {
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          box-shadow: inset 0 0 0 2px rgba($pure-black, 0.1);
          pointer-events: none; /* lets clicks pass through if needed */
          z-index: 2; /* ensure it’s above the image */
          border-radius: 10px;
        }
      }
      img{
        width: 6rem;
        border-radius: 10px;
      }
    }
  }
  &[open]{
    .icon-wrapper{
      svg{
        rotate: 180deg;
      }
    }
  }
}