---
layout: default
---

<!-- loop the section calendar for each day with id to the day for link -->

<!-- TODO the date selector area -->

<section class="calendar" id="sunday">
  <div class="calendar-scroll">
    <div class="time-column">
      {% for hour in (8..20) %}
        {% assign display_hour = hour %}
        
        {% if hour == 12 %}
          <div class="time-slot" style="grid-row: time-1200 / time-1300;">Noon</div>
        {% elsif hour < 12 %}
          {%- if hour < 10  -%} <!--Single Digital Check-->
            {% assign newhour = hour | prepend: '0' %}
            {%- assign hourplus = hour | plus: 1 -%}
            {%- if hourplus < 10 -%} <!--If grid row end is also 1 digit-->
              {% assign newhour2 = hour | plus: 1 | prepend: '0' %}
              <div class="time-slot" style="grid-row: time-{{newhour}}00 / time-{{newhour2}}00;">{{ hour }} <span>AM</span></div>
            {%- else -%}
            {% assign newhour2 = hour | plus: 1 %}
            <div class="time-slot" style="grid-row: time-{{newhour}}00 / time-{{newhour2}}00;">{{ hour }} <span>AM</span></div>
            {%- endif -%}
          {%- else -%}
            <div class="time-slot" style="grid-row: time-{{hour}}00 / time-{{hour | plus: 1}}00;">{{ hour }} <span>AM</span></div>
          {%- endif -%}
        {% else %}
          <div class="time-slot" style="grid-row: time-{{hour}}00 / time-{{hour | plus: 1}}00;">{{ hour | minus: 12 }} <span>PM</span></div>
        {% endif %}

      {% endfor %}
    </div>

    <!-- Loops track container per day -->
    <div class="tracks-container">
      <!-- get a unique list of all locations and sort them alphabetically -->
      {% assign alllocations = site.presentations | map: "location" | uniq | sort %}
      <!-- for loop for tracks -->
      {%- for location in alllocations -%}
        <!-- get all presentations with this location -->
        {% assign track-sessions = site.sessions | where: "location", {{location}} %}
        {% assign track-presentations = site.presentations | where: "location", {{location}} | where: "part-of-session", "no" %}
        {% assign track-events = {{track-sessions}} | concat: {{track-presentations}} %}
        <div class="track" id="{{location | slugify}}">
          <h3>{{location}}</h3>
          <!-- then for loop for events in the track -->
          {%- for event in track-events -%}
            {%- assign start-time-print = {{event.start-time}} | date: "%-I:%M%p" | downcase -%}
            {%- assign start-time-print24 = {{event.start-time}} | date: "%R" -%}
            {%- assign start-time-grid = {{event.start-time}} | date: "%H%M" -%}
            {%- assign end-time-print = {{event.end-time}} | date: "%-I:%M%p" | downcase -%}
            {%- assign end-time-print24 = {{event.end-time}} | date: "%R" -%}
            {%- assign end-time-grid = {{event.end-time}} | date: "%H%M" -%}
            <a href="{{event.url | prepend: site.baseurl }}" class="event-link" style="grid-row: time-{{start-time-grid}} / time-{{end-time-grid}};">
              <div class="event">
                <h4>{{event.name}}</h4>
                <p class="time">
                  <time datetime="{{start-time-print24}}">{{start-time-print}}</time> - 
                  <time datetime="{{end-time-print24}}">{{end-time-print}}</time> PT
                </p>
                {%- if event.collection == "sessions" -%}
                  {%- for presentation in event.presentations -%}
                    {%- assign details = site.presentations | where: "slug", {{presentation}} -%}
                    <div class="presentation">
                      <h5>{{details[0].name}}</h5>
                      <p class="contributors">
                        {%- for contributor in {{details[0].contributors}} -%}
                          {% assign person = site.people | where: "slug", contributor %}
                          {{person[0].name}}
                          {%- if forloop.last == false -%}
                            <span class="separator">, </span>
                          {%- endif -%}
                        {%- endfor -%}
                      </p>
                    </div>
                  {%- endfor -%}
                  <!-- if session loop through the session and grab the presentations for the little cards -->
                {%- else -%}
                <p class="description">
                  {{event.content | remove: '<p>' | remove: '</p>'}}
                </p>
                <p class="contributors">
                  {%- for contributor in {{event.contributors}} -%}
                    {% assign person = site.people | where: "slug", contributor %}
                    {{person[0].name}}
                    {%- if forloop.last == false -%}
                      <span class="separator">, </span>
                    {%- endif -%}
                  {%- endfor -%}
                </p>
                
                {%- endif -%}

              </div>
            </a>
          {%- endfor -%}
        </div>
      {%- endfor -%}

      <div class="track">
        <div class="event" style="top: 0rem; height: 10rem; grid-row: time-0800 / time-0900;" ></div>
      </div>
      <div class="track">
        <div class="event" style="top: 1rem; height: 6rem; grid-row: time-0800 / time-0900;"></div>
        <div class="event" style="top: 5rem; height: 8rem; grid-row: time-0915 / time-1000;"></div>
      </div>
      <div class="track">
        <div class="event" style="top: 6rem; height: 5rem;"></div>
      </div>
      <div class="track">
        <div class="event" style="top: 1rem; height: 6rem;"></div>
        <div class="event" style="top: 8rem; height: 6rem;"></div>
      </div>
      <div class="track">
        <div class="event" style="top: 1rem; height: 10rem;"></div>
      </div>
      <div class="track">
        <div class="event" style="top: 1rem; height: 12rem;"></div>
      </div>
      <div class="track">
        <div class="event" style="top: 1rem; height: 12rem;"></div>
      </div>
      <div class="track">
        <div class="event" style="top: 1rem; height: 12rem;"></div>
      </div>
    </div>
  </div>

</section>
