<header class="site-header">

  <div class="grid-x grid-container align-justify">
      <div class="grid-x cell shrink">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div class="grid-x cell shrink">
        <nav class="site-nav">
          <a class="page-link" href="{{ site.baseurl }}/">Calendar</a>
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </nav>
      </div>
  </div>

</header>
