//Numbers
$pill-radius: 500px;

// Colors
$pure-white: #ffffff;
$pure-black: #000000;

// Animations
$sprint: all 0.20s ease-in-out;
$run: all 0.30s ease-in-out;
$jog: all 0.50s ease-in-out;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$lato: 'Lato', sans-serif;
$lato-thin: 100;
$lato-light: 300;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;