---
layout: post
---

{%- for presentation in page.presentations -%}
{%- assign pres-details = site.presentations | where: "slug", {{presentation}} -%}
<section class="presentation-section grid-x cell">
  <div class="grid-x cell medium-4 image-content">
    <div class="cell">
      <img src="../img/{{pres-details[0].thumbnail}}" class="main-thumbnail">
    </div>
    <a href="#" class="cell add-button">
      <!-- TODO wire this button up -->
      Add to Calendar
    </a>
  </div>
  <div class="grid-x cell medium-8 text-content">
    <div class="time grid-x cell align-middle">
      <span class="cell shrink icon-wrapper">
        {%- include clock.svg -%}
      </span>
      {%- assign start-time-print = {{pres-details[0].start-time}} | date: "%-I:%M%p" | downcase -%}
      {%- assign start-time-print24 = {{pres-details[0].start-time}} | date: "%R" -%}
      {%- assign end-time-print = {{pres-details[0].end-time}} | date: "%-I:%M%p" | downcase -%}
      {%- assign end-time-print24 = {{pres-details[0].end-time}} | date: "%R" -%}
      <span class="time cell shrink">
        <time datetime="{{start-time-print24}}">{{start-time-print}}</time> - 
        <time datetime="{{end-time-print24}}">{{end-time-print}}</time> PT
      </span>
    </div>
    <!-- TODO add inline link to the h2 -->
    <h2 class="cell">{{pres-details[0].name}}</h2>
    <p class="description">
      {{pres-details[0].content | remove: '<p>' | remove: '</p>'}}
    </p>
    <div class="cell contributors-container grid-x">
      <h3 class="visually-hidden">Contributors</h3>
      {%- for contributor in {{pres-details[0].contributors}} -%}
        {% assign person = site.people | where: "slug", contributor %}
        <a href="{{person[0].url}}" class="contributor-card cell grid-x shrink align-middle">
          <!-- TODO if social icon add those -->
          {%- if {{person[0].photo}} -%}
          <div class="profile-wrapper cell shrink">
            <img src="../img/{{person[0].photo}}" alt="">
          </div>
          {%- endif -%}
          <div class="text-wrapper cell auto">
            <p class="name">{{person[0].name}}</p>
            <p class="company">{{person[0].company}}</p>
          </div>
        </a>
      {%- endfor -%}
    </div>
    <div class="grid-x cell similar-container">
      <h3 class="cell">Similar Presentations</h3>
      {%- for similar in {{pres-details[0].similar-presentations}} -%}
        {% assign sim-pres = site.presentations | where: "slug", similar %}
        <a href="{{sim-pres[0].url}}" class="similar-card cell grid-x medium-6">
          {%- if {{sim-pres[0].thumbnail}} -%}
          <div class="image-wrapper cell shrink">
            <img src="../img/{{sim-pres[0].thumbnail}}" alt="">
          </div>
          {%- endif -%}
          <div class="text-wrapper cell auto">
            {{sim-pres[0].name}}
          </div>
        </a>
      {%- endfor -%}
    </div>
  </div>
</section>
{%- endfor -%}